body {
    font-family: Arial, sans-serif;
    background-color: #606060;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    padding: 10px 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-color: #444;
    padding: 20px;
}

.hero-text {
    text-align: center;
}

.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.product {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #fff;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.social-media a {
    display: block;
    width: 40px;
    color: #fff;
}